@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out both;
}
